//- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ./baseHarbor.jade

block content
  h1(style="text-align: left;") Grooming Health
  p
    span(style="font-size: 10pt;") Story count for all engg user stories in status 'Open' and 'In Progress'. # Stories (PM Reviewed) shows count of engg stories whose acceptance criteria is agreed between PM and scrum master. If count is >=8 then it's green, if count is between 8 and 4 then yellow else it's red.
  table(border="1" class="jiveBorder" style="border: 1px solid #C6C6C6;border-spacing:0px;")
    tbody
      tr
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") Scrum
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") # Stories
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") # Stories (PM Reviewed)
      each groomingScrum, index in groomingScrums
        tr
          if groomingScrum == 'Average'
            td(style="text-align: center;background-color: #f2f2f2;padding: 6px;")
              span #{groomingScrum}
          else
            td(style="padding: 6px;")
              span #{groomingScrum}
            // td(style="padding: 6px;")
          if groomingHealthCountStories[index] >= 8
            td(style="padding: 6px;background-color: #7ed529;")
              span #{groomingHealthCountStories[index]}
          else if groomingHealthCountStories[index] >= 4
            td(style="padding: 6px;background-color: #faf387;")
              span #{groomingHealthCountStories[index]}
          else
            td(style="padding: 6px;background-color: #e23d39;")
              span #{groomingHealthCountStories[index]}
              // span  (
              // span #{groomingHealthEngg[index]}
              // span )
              // td(style="padding: 6px;")
          if groomingHealthCountStoriesPMReviewed[index] >= 8
            td(style="padding: 6px;background-color: #7ed529;")
              span #{groomingHealthCountStoriesPMReviewed[index]}
          else if groomingHealthCountStoriesPMReviewed[index] >= 4
            td(style="padding: 6px;background-color: #faf387;")
              span #{groomingHealthCountStoriesPMReviewed[index]}
          else
            td(style="padding: 6px;background-color: #e23d39;")
              span #{groomingHealthCountStoriesPMReviewed[index]}
              // span  (
              // span #{groomingHealthPM[index]}
              // span )
  br
  br
  h1(style="text-align: left;") Connectivity Investment
  p
    span(style="font-size: 10pt;") Investment Bucket wise distribution of engg user stories picked up in this iteration i.e. *** pre-fixed in engg stories in 'Stories Health' below. # Stories (Planned) is count of engg stories planned in this iteration. # Stories (Done) is count of engg stories in 'Done' status as on date.
  table(border="1" class="jiveBorder" style="border: 1px solid #C6C6C6;border-spacing:0px;")
    tbody
      tr
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") Investment Bucket
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") # Stories (Planned)
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") # Stories (Done)
      each investmentBucket, index in connectivityInvestmentBuckets
        tr
          td(style="padding: 6px;")
            span #{investmentBucket}
          td(style="padding: 6px;")
            span #{connectivityInvestmentCountStories[index]}
            // span  (
            // span #{connectivityInvestmentStoryPoints[index]}
            // span )
          td(style="padding: 6px;")
            span #{connectivityInvestmentCountDoneStories[index]}
            // span  (
            // span #{connectivityInvestmentDoneStoryPoints[index]}
            // span )
  br
  br
  h1(style="text-align: left;") PMStory Changes
  p
    span(style="font-size: 10pt;") This table shows the status changes for PM Stories in the CONPM project.
  table(border="1" class="jiveBorder" style="border: 1px solid #C6C6C6;border-spacing:0px;")
    tbody
      tr
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") Key
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") Summary
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") Status
      each changedPMStory in changedPMStories
        tr
          td(style="padding: 6px;")
            a(href='https://sailpoint.atlassian.net/browse/' + changedPMStory.pmstorykey) #{changedPMStory.pmstorykey}
          td(style="padding: 6px;")
            span #{changedPMStory.summary}
          td(style="padding: 6px;")
            span #{changedPMStory.statusAtEnd}
            span  (
            span(style="text-decoration: line-through;") #{changedPMStory.statusAtStart}
            span )
  br
  br
  h1(style="text-align: left;") Iteration Summary
  p
    span(style="font-size: 10pt;") Count of stories planned in this iteration, and 'Done' or 'Accepted'.
  table(border="1" class="jiveBorder" style="border: 1px solid #C6C6C6;border-spacing:0px;")
    tbody
      tr
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") Scrum
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") # Stories (Planned)
        td(style="text-align: center;background-color: #f2f2f2;padding: 6px;") # Stories (Done)
      each iterationHealthSrum, index in iterationSummary.iterationHealthScrums
        tr
          td(style="padding: 6px;")
            span #{iterationHealthSrum}
          td(style="padding: 6px;")
            span #{iterationSummary.iterationHealthCountStories[index]}
          td(style="padding: 6px;")
            span #{iterationSummary.iterationHealthCountDoneStories[index]}
  br
  br
  h1(style="text-align: center;") Stories Health
  p
    span(style="font-size: 10pt;") (Scrumwise engg stories picked up in this iteration and their corresponding PMStory. Green highlighed shows accomplishments, yellow shows changes. Blue shows an error, and PMStory must be updated to fix it. *** are engg stories picked up in this iteration)
  - var scrumCount = -1;
  each scrum in scrums
    - scrumCount++;
    h1 #{scrum}
    - var ComboObjArray = ComboObjs[scrumCount]
    each ComboObj in ComboObjArray
      table(border="1" class="jiveBorder" style="border: 1px solid #C6C6C6;border-spacing:0px;" width="100%")
        tbody
          tr
            td(style="padding: 6px;", colspan=7)
              table(border="0" width="100%")
                tr
                  td(style="background-color: #f2f2f2;")
                    if !ComboObj.pmstory
                      span(style="background-color: #2873ee;color: #303030;") 'No PM Story linked with these engg stories'
                    else
                      a(href='https://sailpoint.atlassian.net/browse/' + ComboObj.pmstory.key) #{ComboObj.pmstory.key}
                      |   #{ComboObj.pmstory.summary}
                      td(style="text-align: right;background-color: #f2f2f2;")
                        span [
                        if ComboObj.pmstory.status == 'Accepted' || ComboObj.pmstory.status == 'In Execution'
                          span #{ComboObj.pmstory.status}
                        else
                          span(style="background-color: #2873ee; color: #303030;") #{ComboObj.pmstory.status}
                        span ,
                        span  Completed:
                        if ComboObj.pmstory.percentComplete == 100
                          span(style="background-color: #7ed529;")  #{ComboObj.pmstory.percentComplete}%
                        else
                          span  #{ComboObj.pmstory.percentComplete}%
                        span  (
                        if ComboObj.pmstory.percentChange > 0
                          span(style="background-color: #7ed529;") #{ComboObj.pmstory.percentChange}%
                          // span(style="background-color: #faf387;") #{ComboObj.pmstory.percentChange}%
                          //span(style="background-color: #e23d39;") #{ComboObj.pmstory.percentChange}%
                        else
                          span #{ComboObj.pmstory.percentChange}%
                        span ),
                        span  Fix Version:
                        if ComboObj.pmstory.fixVersionMatches
                          span  #{ComboObj.pmstory.fixVersion}
                        else
                          span(style="background-color: #2873ee; color: #303030;")  #{ComboObj.pmstory.fixVersion}
                        span ,
                        span  Investment:
                        if ComboObj.pmstory.connectivityInvestment == 'Not Specified'
                          span(style="background-color: #2873ee; color: #303030;")  #{ComboObj.pmstory.connectivityInvestment}
                        else
                          span  #{ComboObj.pmstory.connectivityInvestment}
                        span ]
          each enggStory in ComboObj.enggstories
            tr
              td(style="padding: 6px;")
                if enggStory.pickedUpInThisIteration
                  span ***
                span
                  a(href='https://sailpoint.atlassian.net/browse/' + enggStory.currentKey)  #{enggStory.summary} (#{enggStory.currentKey})
                //if enggStory.acceptanceReviewedByPM == 'No'
                  span(style="background-color: #2873ee; color: #303030;") Acceptance criteria NOT reviewed by PM
              td
                if enggStory.statusChanged
                  if enggStory.statusAtIterationEnd == 'Done' || enggStory.statusAtIterationEnd == 'Accepted'
                    span(style="background-color: #7ed529;") #{enggStory.statusAtIterationEnd}
                  else
                    span(style="background-color: #faf387;") #{enggStory.statusAtIterationEnd}
                  span  (
                  span(style="text-decoration: line-through;") #{enggStory.statusAtIterationStart}
                  span )
                else
                  span #{enggStory.statusAtIterationStart}
              td
                if enggStory.fixVersionsChanged
                  span(style="background-color: #faf387;")  #{enggStory.fixVersionsAtIterationEnd}
                  span  (
                  span(style="text-decoration: line-through;") #{enggStory.fixVersionsAtIterationStart}
                  span )
                else
                  span  #{enggStory.fixVersionsAtIterationEnd}
              td
                span  Story Points:
                if enggStory.storyPointsChanged
                  span(style="background-color: #faf387;")  #{enggStory.storyPointsAtIterationEnd}
                  span  (
                  span(style="text-decoration: line-through;") #{enggStory.storyPointsAtIterationStart}
                  span )
                else
                  span  #{enggStory.storyPointsAtIterationStart}
              td
                span  Queue Time:
                span  #{enggStory.queueTime}
              // td
                span  Cycle Time:
                span  #{enggStory.cycleTime}
      br
      br
