//- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ./base.jade

block content
  - var scrumCount = -1;
  each scrum in scrums
    - scrumCount++;
    h1 #{scrum}
    - var ComboObjArray = ComboObjs[scrumCount]
    each ComboObj in ComboObjArray
      div
        div.badgePM
          if !ComboObj.pmstory
            span.red 'No PM Story linked with these engg stories'
          else
            a(href='https://sailpoint.atlassian.net/browse/' + ComboObj.pmstory.key) #{ComboObj.pmstory.key}
            |   #{ComboObj.pmstory.summary}
            span  [
            if ComboObj.pmstory.connectivityInvestment == 'Not Specified'
              span.red #{ComboObj.pmstory.connectivityInvestment},
            else
              span #{ComboObj.pmstory.connectivityInvestment},
            if ComboObj.pmstory.fixVersionMatches
              span  #{ComboObj.pmstory.fixVersion}
            else
              span.red  #{ComboObj.pmstory.fixVersion}
            span ,
            span  #{ComboObj.pmstory.status}
            span ,
            if ComboObj.pmstory.percentComplete == 100
              span.green  #{ComboObj.pmstory.percentComplete}%
            else
              span  #{ComboObj.pmstory.percentComplete}%
            span  (
            if ComboObj.pmstory.percentChange <= 0
              span.red #{ComboObj.pmstory.percentChange}%
            else
              span #{ComboObj.pmstory.percentChange}%
            span )]
        each enggStory in ComboObj.enggstories
          br
          div.badgeEngg
            span #{enggStory.summary}
            span  [
              if enggStory.statusChanged
                span.yellow #{enggStory.statusAtIterationEnd}
                span  (
                span.strikethrough #{enggStory.statusAtIterationStart}
                span ),
              else
                span #{enggStory.statusAtIterationStart},
              span  Fix Version:
              if enggStory.fixVersionsChanged
                span.yellow  #{enggStory.fixVersionsAtIterationEnd}
                span  (
                span.strikethrough #{enggStory.fixVersionsAtIterationStart}
                span )
              else
                span  #{enggStory.fixVersionsAtIterationEnd}
              span ,
              span  Story Points:
              if enggStory.storyPointsChanged
                span  #{enggStory.storyPointsAtIterationEnd}
                span  (
                span #{enggStory.storyPointsAtIterationStart}
                span ),
              else
                span  #{enggStory.storyPointsAtIterationStart},
              span  Queue Time:
              span  #{enggStory.queueTime},
              span  Cycle Time:
              span  #{enggStory.cycleTime},
              span
              span
                a(href='https://sailpoint.atlassian.net/browse/' + enggStory.currentKey)  #{enggStory.currentKey}
              span ]
      br
      br
